@{
    string app = Request.Url.AbsolutePath.ToLower();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@{@BaseConfigs.GetUrlCdn}fonts/iconfont.css">
    <link rel="stylesheet" href="@{@BaseConfigs.GetUrlCdn}styles/general.css">
    <link rel="stylesheet" href="@{@BaseConfigs.GetUrlCdn}usercenter/styles/person.css">
    <script type="text/javascript">
        var dhw = {
            imgurl: '@BaseConfigs.GetImgPath', imguploadurl: '@BaseConfigs.GetImgUploadPath', imgcuturl: '@BaseConfigs.GetImgCutPath',
            mainurl: '@BaseConfigs.GetUrlMain', staticurl: '@BaseConfigs.GetStaticPath',
            urlmain: '@BaseConfigs.GetUrlMain', urlcdn: '@BaseConfigs.GetUrlCdn', urlzc: '@BaseConfigs.GetUrlZc', urlkj: '@BaseConfigs.GetUrlKj', urlhr: '@BaseConfigs.GetUrlHr', urlzckj: '@BaseConfigs.GetUrlZckj',
            urlzb: '@BaseConfigs.GetUrlZb', urldiy: '@BaseConfigs.GetUrlDiy', urlsrdz: '@BaseConfigs.GetUrlSrdz', urlcqbh: '@BaseConfigs.GetUrlCqbh', urlzxsj: '@BaseConfigs.GetUrlZxsj', urlgsss: '@BaseConfigs.GetUrlGsss',
            urlfj: '@BaseConfigs.GetUrlFj', urlimg: '@BaseConfigs.GetUrlImg', urlfjupload: '@BaseConfigs.GetUrlFjUpload'
        };
    </script>
    <script type="text/javascript">
        var readCookie = function (a) { var b = a + "="; var c = document.cookie.split(";"); for (var d = 0; d < c.length; d++) { var e = c[d]; for (; " " == e.charAt(0); ) e = e.substring(1, e.length); if (0 == e.indexOf(b)) return e.substring(b.length, e.length) } return null }
        var login = function () { return location.href = dhw.mainurl + "login?redirectURL=" + escape(location.href).replace(/\//g, "%2F"), !1 }; var regist = function () { return location.href = dhw.mainurl + "reg?redirectURL=" + escape(location.href).replace(/\//g, "%2F"), !1 };</script>
    @RenderSection("head", required: false)
</head>
<body>
    <!--通用顶栏 开始-->
    <div class="sitenav clearfix">
        <div class="sitenav-wrap">
            <ul class="sitenav-l">
                <li><a href="@BaseConfigs.GetUrlMain"><i class="iconfont">&#xe605;</i>梦高速首页</a></li>
                <li><a href="#"><i class="iconfont">&#xe609;</i>手机梦高速</a></li>
            </ul>
            <ul class="sitenav-r">
                <li class="log">您好，请<a href="javascript:login();">登陆</a><a href="javascript:regist();">
                    免费注册</a> </li>
                <li><a href="@BaseConfigs.GetUrlBbs" target="_blank">帮助中心</a></li>
                <li class="nav-drop"><a class="sn-dropper" href="#">网站导航 <i class="iconfont">&#xe60f;</i></a>
                    <ul class="sn-dropdown menu-dropdown">
                        <li><a target="_blank" href="@BaseConfigs.GetUrlKj">会计服务</a></li>
                        <li><a target="_blank" href="@BaseConfigs.GetUrlHr">人才招聘</a></li>
                        <li><a target="_blank" href="@BaseConfigs.GetUrlDiy">创意设计</a></li>
                        <li><a target="_blank" href="@BaseConfigs.GetUrlZckj">众创空间</a></li>
                        <li><a target="_blank" href="@BaseConfigs.GetUrlZc">众筹</a></li>
                        <li><a target="_blank" href="@BaseConfigs.GetUrlZb">众包</a></li>
                        <li><a target="_blank" href="@BaseConfigs.GetUrlCqbh">产权保护</a></li>
                        <li><a target="_blank" href="@BaseConfigs.GetUrlSrdz">私人定制</a></li>
                        <li><a target="_blank" href="@BaseConfigs.GetUrlCygc">创意工厂</a></li>
                        <li><a target="_blank" href="@BaseConfigs.GetUrlZxsj">转型升级</a></li>
                        <li><a target="_blank" href="@BaseConfigs.GetUrlGsss">公司上市</a></li>
                        <li><a target="_blank" href="@BaseConfigs.GetUrlBbs">社区论坛</a></li>
                    </ul>
                </li>
                <li class="icon-drop"><i class="sn-dropper iconfont">&#xe60c;</i>
                    <div class="sn-dropdown">
                        <div>
                            <div>
                                <img src="@{@BaseConfigs.GetUrlCdn}images/weixin_temp.png" alt="微信二维码"></div>
                            微信</div>
                    </div>
                </li>
                <li class="icon-drop"><i class="sn-dropper iconfont">&#xe60a;</i>
                    <div class="sn-dropdown">
                        <div>
                            <img src="@{@BaseConfigs.GetUrlCdn}images/erweima.jpg" alt="微博"></div>
                        <div>
                            微博</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--通用顶栏 结束-->
    <!--头部简介 开始-->
    <div class="nav_imgWrap nav_imgWrap-hlwplus">
        <div class="nav_imgCont">
            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/bg-12.png">
        </div>
        <div class="intro">
            <img class="intro_logo" src="@{@BaseConfigs.GetUrlCdn}usercenter/images/xieyameiyinglefulan.jpg" alt="">
            <div class="intro_cont">
                <h1 class="intro_cont_name">
                    胡博宇</h1>
                <p>
                    博予有近10年的创业经验。他参与创办了信贷管理软件公司安 硕科技最终在创业板上市（股票代码 SHE:300380）。在创办Blue lake capital之前,博宇在著名的风险投资基金DCM工作.另外博宇还曾就职于摩根士丹利</p>
                <a class="intro_cont_focus" href="#" onclick="attention()">关 注</a>@* <span class="fir_label">
                    蓝湖资本·合作人</span> <span class="sec_label">天使汇认证投资人</span>*@
            </div>
        </div>
        <div class="intro_nav_bg">
            <div class="intro_nav">
                <ul class="intro_nav_ul">
                    <li class="intro_nav_ul_item @if (app.IndexOf("/index") != -1)
                                                 {<text>intro_nav_ul_item-current</text>}"><a href="@{@BaseConfigs.GetUrlMain}person/@ViewBag.personid/Index">
                                                     个人首页</a></li>
                    <li class="intro_nav_ul_item @if (app.IndexOf("/jbxx") != -1)
                                                 {<text>intro_nav_ul_item-current</text>}"><a href="@{@BaseConfigs.GetUrlMain}person/@ViewBag.personid/Jbxx">
                                                     基本信息</a></li>
                    <li class="intro_nav_ul_item @if (app.IndexOf("/article") != -1)
                                                 {<text>intro_nav_ul_item-current</text>}"><a href="@{@BaseConfigs.GetUrlMain}person/@ViewBag.personid/ArticleList">
                                                     创意文章</a></li>
                    <li class="intro_nav_ul_item @if (app.IndexOf("/album") != -1)
                                                 {<text>intro_nav_ul_item-current</text>}"><a href="@{@BaseConfigs.GetUrlMain}person/@ViewBag.personid/Album">
                                                     个人相册</a></li>
                </ul>
                <div class="intro_nav_contact">
                    <a class="intro_nav_contact_in" href="#">
                        <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/in.png" alt=""></a> <a href="#">
                            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/weibo.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <!--头部简介 结束-->
    @RenderBody()
    <!--通用底栏 开始-->
    <!--底部 开始-->
    <div class="bottom">
        <div class="bottom_contact">
            <span><i></i>Copyright © 2015-2016 dreamhiway.创企科技 版权所有 创企科技<a href="javascript:;">技术支持</a></span>
        </div>
    </div>
    <!--底部 结束-->
    <script src="@{@BaseConfigs.GetUrlCdn}static/lib/jquery.min.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/general.js"></script>
    <script type="text/javascript">
        $(function () {
            $.getJSON(dhw.urlmain + 'loginservice/Login?callback=?', function (r) {
                if (r.success && r.result.IsAuthenticated) {
                    dhw = dhw || {};
                    dhw.isLogined = true;
                    var nickname = r.result.nickname;
                    var name;
                    if (nickname == "") {
                        name = r.result.Name;
                    }
                    else {
                        name = nickname + "(" + r.result.Name + ")";
                    }
                    $('li.log').html('您好，<a href="' + dhw.urlmain + '' + "apphome" + '" target="_blank">' + name + '</a><a href="' + dhw.urlmain + 'login?redirectURL=' + escape(location.href).replace(/\//g, "%2F") + '&type=logout">退出</a>');
                }
                else {
                    dhw.isLogined = false;
                    $('li.log').html('您好，请<a href="javascript:login();">登陆</a><a href="javascript:regist();">免费注册</a>');
                }
            });
        })
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
