@{Layout = null;}
<html>
<head>
    <meta charset="UTF-8">
    <meta property="qc:admins" content="14762655666425150171163757154072125" />
    <title>梦高速</title>
</head>
<body>
    <div class="module module-home">
    <ul class="dials clearfix">
        <li class="dial"><a target="_blank" href="@BaseConfigs.GetUrlKj">
            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/dial_kjfw.png" alt=""></a>
        </li>
        <li class="dial"><a target="_blank" href="@BaseConfigs.GetUrlHr">
            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/dial_rczp.png" alt=""></a>
        </li>
        <li class="dial"><a target="_blank" href="@BaseConfigs.GetUrlDiy">
            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/dial_cysj.png" alt=""></a>
        </li>
        <li class="dial"><a target="_blank" href="@BaseConfigs.GetUrlZckj">
            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/dial_zchuang.png" alt=""></a>
        </li>
        <li class="dial"><a target="_blank" href="@BaseConfigs.GetUrlZc">
            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/dial_zchou.png" alt=""></a>
        </li>
        <li class="dial"><a target="_blank" href="@BaseConfigs.GetUrlZb">
            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/dial_zbao.png" alt=""></a>
        </li>
        <li class="dial"><a target="_blank" href="@BaseConfigs.GetUrlCqbh">
            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/dial_cqbh.png" alt=""></a>
        </li>
        <li class="dial"><a target="_blank" href="@BaseConfigs.GetUrlSrdz">
            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/dial_srdz.png" alt=""></a>
        </li>
        <li class="dial"><a target="_blank" href="@BaseConfigs.GetUrlCygc">
            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/cygc001.png" alt=""></a>
        </li>
        <li class="dial"><a target="_blank" href="@BaseConfigs.GetUrlZxsj">
            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/dial_zxsj.png" alt=""></a>
        </li>
        <li class="dial"><a target="_blank" href="@BaseConfigs.GetUrlGsss">
            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/dial_ssgs.png" alt=""></a>
        </li>
        
        <li class="dial"><a target="_blank" href="@BaseConfigs.GetUrlBbs">
            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/sqlt001.png" alt=""></a>
        </li>
    </ul>
</div>
</body>
</html>
