@{
    Layout = Layout = "~/Views/Shared/_PersonLayout.cshtml";
    ViewBag.Title = "个人首页 - 个人黄页 - 梦高速";
}
<div class="person_top clearfix">
    <div class="person_top_left">
        <h1 class="person_ttl">
            文章(创意)</h1>
        <div class="person_article">
            @for (int i = 0; i < ViewBag.dt1.Count; i++)
            {
                var item = ViewBag.dt1[i];
                string date = item["date"].ToString() == "" ? "" : ((DateTime)item["date"]).ToString("yyyy/MM/dd");
                <p class="person_article_item">
                    <a href="@{@BaseConfigs.GetUrlMain}person/@ViewBag.personid/ArticleDetail/@item["id"]">@item["title"]</a><span>@date</span></p>
         
            }
            <a class="readMore" href="@{@BaseConfigs.GetUrlMain}person/@ViewBag.personid/ArticleList">
                查看更多>></a>
        </div>
    </div>
    <div class="person_top_right">
        <h1 class="person_ttl">
            个人信息</h1>
        <div class="person_detail">
            <div class="clearfix">
                <label class="person_detail_label">
                    个人签名:</label>
                <p class="person_detail_p">
                    @ViewBag.jbxx</p>
            </div>
            <div class="person_detail_b clearfix">
                <label class="person_detail_label">
                    工作经历:</label>
                <div class="person_edicate">
                    <p>
                        <span>2012-09-07</span> 至 <span>2016-07-12</span></p>
                    <p>
                        <span>福建大学至诚学院</span> 丨 <span>建筑学</span></p>
                </div>
            </div>
            <span class="person_detail_tel">手机验证</span> <span class="person_detail_email">邮箱验证</span>
            <a class="readMore" href="@{@BaseConfigs.GetUrlMain}person/@ViewBag.personid/Jbxx">查看更多>></a>
        </div>
        <div class="message_r_fans">
            <ul class="clearfix">
                <li class="message_r_fans_items message_r_fans_items-current">关注 <span id="quantity"
                    data-quantity="10">@ViewBag.followdt2 </span></li>
                <li class="message_r_fans_items">粉丝 <span>@ViewBag.fansdt2 </span></li>
            </ul>
            <ul class="focus_show clearfix">
                @for (int i = 0; i < ViewBag.followdt1.Rows.Count; i++)
                {
                    var follow = ViewBag.followdt1.Rows[i];
                    var img = follow["logo"].ToString();
                    <li class="pic_show_items @if ((i + 1) % 5 == 0)
                                              {<text>pic_show_items-last</text>}"><a href="javascript:;">
                                                  @if (img == "")
                                                  {
                                                      <img src="@{@BaseConfigs.GetUrlCdn}srdz/images/avatar.jpg" alt="" title="@follow["name"]">
                                                  }
                                                  else
                                                  {
                                                      <img src="@BaseConfigs.GetImgPath@img " alt="" title="@follow["name"]">
                                                  }</a> </li>
                }
            </ul>
            <ul class="focus_show clearfix hide">
                @for (int j = 0; j < ViewBag.fansdt1.Rows.Count; j++)
                {
                    var fans = ViewBag.fansdt1.Rows[j];
                    string img = fans["logo"].ToString();
                    <li class="pic_show_items @if ((j + 1) % 5 == 0)
                                              {<text>pic_show_items-last</text>}"><a href="javascript:;">
                                                  @if (img == "")
                                                  {
                                                      <img src="@{@BaseConfigs.GetUrlCdn}srdz/images/avatar.jpg" alt="" title="@fans["name"]">
                                                  }
                                                  else
                                                  {
                                                      <img src="@BaseConfigs.GetImgPath@img" alt="" title="@fans["name"]">
                                                  }</a> </li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="person_bottom">
    <h1 class="person_ttl">
        相册(作品)</h1>
    <a class="morePhoto" href="@{@BaseConfigs.GetUrlMain}person/@ViewBag.personid/Album">
        查看更多>></a>
    <ul class="person_show clearfix">
    </ul>
</div>
@section scripts{
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/jquery-1.11.3.min.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/template.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/jquery.paging.min.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/jquery.loaddata.js"></script>
    <script>
        $('.message_r_fans_items').click(function () {
            var index = $(this).index();
            $('.message_r_fans_items').removeClass('message_r_fans_items-current').eq(index).addClass('message_r_fans_items-current')
            $('.focus_show').removeClass('hide').eq(index - 1).addClass('hide');
        });
    </script>
    <script>
         var personid =@ViewBag.personid ;
    </script>
    <script type="text/html" id="albumTem">
    {{each data as album}}
      <li class="person_show_item">
        <img src="@{@BaseConfigs.GetImgPath}{{album.img}}_180x150.jpg" alt="" title="{{album.title}}">
      </li>
    {{/each}}
    </script>
    <script>
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
        var personid = getQueryString('personid');
        para = {
            pageSize: 5,
            pageIndex: 1,
            duid: @ViewBag.personid
        }
        loadData('/PersonHome/PhotoList', para, 'albumTem', '.person_show')
    </script>
}
