@{
    Layout = Layout = "~/Views/Shared/_PersonLayout.cshtml";
    ViewBag.Title = "基本信息 - 个人黄页 - 梦高速";
}
@{
    var jbxx = ViewBag.jbxx;
    var name = jbxx["realname"].ToString() == "" ? jbxx["name"].ToString() : jbxx["realname"].ToString();
    string ph = jbxx["phone"].ToString();
    string em = jbxx["email"].ToString();
    string phone = ph == "" ? "" : ph.Substring(0, 3) + "********";
    string email = em == "" ? "" : em.Substring(0, 3) + "********";
}
<!--头部简介 结束-->
<div class="person_content">
    <h1 class="person_message_ttl">
        <i class="person_message_ttl-jbxx"></i>基本信息</h1>
    <div class="person_message_div">
        <div class="person_message_div_group">
            <label class="message_label">
                姓名 :
            </label>
            <span class="message_name">@name</span>@*<span class="verificat_tel">手机验证</span><span
                class="verificat_email">邮箱验证</span>*@
        </div>
        <div class="person_message_div_group">
            <label class="message_label">
                性别 :
            </label>
            <span>@jbxx["sex"]</span>
        </div>
        <div class="person_message_div_group">
            <label class="message_label">
                学历 :
            </label>
            <span>@jbxx["eb"]</span>
        </div>
        <div class="person_message_div_group">
            <label class="message_label">
                手机号 :
            </label>
            <span>@phone</span>
        </div>
        <div class="person_message_div_group">
            <label class="message_label">
                电子邮箱 :
            </label>
            <span>@email</span>
        </div>
        <div class="person_message_div_group">
            <label class="message_label">
                个性签名 :
            </label>
            <span class="self_intro">@jbxx["signature"]</span>
        </div>
    </div>
    <h1 class="person_message_ttl">
        <i class="person_message_ttl-jyjl"></i>教育经历</h1>
    <div class="person_message_div">
        <table border="1" cellspacing="0" cellpadding="5">
            <colgroup>
                <col style="width: 265px">
                <col style="width: 260px">
                <col style="width: 250px">
                <col style="width: 180px">
            </colgroup>
            <thead>
                <tr>
                    <td>
                        时间
                    </td>
                    <td>
                        学校名称
                    </td>
                    <td>
                        专业名称
                    </td>
                    <td>
                        学历/证书
                    </td>
                </tr>
            </thead>
            @for (int i = 0; i < ViewBag.dt1.Count; i++)
            {
                var item = ViewBag.dt1[i];
                string begindate = item["begindate"].ToString() == "" ? "" : ((DateTime)item["begindate"]).ToString("yyyy-mm-dd");
                string enddate = item["enddate"].ToString() == "" ? "" : ((DateTime)item["enddate"]).ToString("yyyy-mm-dd");
                <tbody>
                    <tr>
                        <td>
                            <span>@begindate</span>至<span>@enddate</span>
                        </td>
                        <td>
                            @item["name"]
                        </td>
                        <td>
                            @item["major"]
                        </td>
                        <td>
                            @item["xl"]
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
    <h1 class="person_message_ttl">
        <i class="person_message_ttl-gzjl"></i>工作经历</h1>
    <div class="person_message_div">
        <table border="1" cellspacing="0" cellpadding="5">
            <colgroup>
                <col style="width: 305px">
                <col style="width: 255px">
                <col style="width: 200px">
                <col style="width: 200px">
            </colgroup>
            <thead>
                <tr>
                    <td>
                        公司名称
                    </td>
                    <td>
                        时间
                    </td>
                    <td>
                        职位
                    </td>
                    <td>
                        部门
                    </td>
                </tr>
            </thead>
            @for (int i = 0; i < ViewBag.dt2.Count; i++)
            {
                var item = ViewBag.dt2[i];
                string begindate = item["begindate"].ToString() == "" ? "" : ((DateTime)item["begindate"]).ToString("yyyy-mm-dd");
                string enddate = item["enddate"].ToString() == "" ? "" : ((DateTime)item["enddate"]).ToString("yyyy-mm-dd");
                <tbody>
                    <tr>
                        <td>
                            @item["name"]
                        </td>
                        <td>
                            <span>@begindate</span>至<span>@enddate</span>
                        </td>
                        <td>
                            @item["position"]
                        </td>
                        <td>
                            @item["department"]
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>
@section scripts{
    <script>
         var personid =@ViewBag.personid ;
    </script>
}
