@{
    ViewBag.Title = "招聘公司信息-梦高速";
    ViewBag.Description = "招聘公司信息-梦高速";
    ViewBag.Keywords = "招聘公司信息-梦高速";
}
<!--主内容区 开始-->
<div class="content clearfix">
    <!--大筛选框 开始-->
    <div class="filter-box">
        <div class="has-more">
            <dl class="clearfix">
                <dt>公司地点：</dt>
                <dd class="current">
                    全国</dd>
                <dd data-citycode = "110000">
                    北京</dd>
                <dd data-citycode = "310000">
                    上海</dd>
                <dd data-citycode = "440300">
                    深圳</dd>
                <dd data-citycode = "440100">
                    广州</dd>
                <dd data-citycode = "330100">
                    杭州</dd>
                <dd data-citycode = "510100">
                    成都</dd>
                <dd data-citycode = "320100">
                    南京</dd>
                <dd data-citycode = "420100">
                    武汉</dd>
                <dd data-citycode = "210200">
                    大连</dd>
                <dd data-citycode = "350200">
                    厦门</dd>
                <dd data-citycode = "350100">
                    福州</dd>
                <dd data-citycode = "350500">
                    泉州</dd>
                <dd data-citycode = "120000">
                    天津</dd>
                <dd>
                </dd>
                <dd class="more">
                    更多 <i></i>
                </dd>
            </dl>
            <ul class="clearfix">
                <li data-citycode = "500000">重庆</li>
                <li data-citycode = "430100">长沙</li>
                <li data-citycode = "370200">青岛</li>
                <li data-citycode = "320200">无锡</li>
                <li data-citycode = "440600">佛山</li>
                <li data-citycode = "330200">宁波</li>
                <li data-citycode = "410100">郑州</li>
                <li data-citycode = "441900">东莞</li>
                <li data-citycode = "320400">常州</li>
                <li data-citycode = "210100">沈阳</li>
                <li data-citycode = "130100">石家庄</li>
                <li data-citycode = "530100">昆明</li>
                <li data-citycode = "360100">南昌</li>
                <li data-citycode = "450100">南宁 </li>
                <li data-citycode = "230100">哈尔滨</li>
                <li data-citycode = "460100">海口</li>
                <li data-citycode = "442000">中山</li>
                <li data-citycode = "441300">惠州</li>
                <li data-citycode = "520100">贵阳</li>
                <li data-citycode = "220100">长春</li>
                <li data-citycode = "140100">太原</li>
                <li data-citycode = "330400">嘉兴</li>
                <li data-citycode = "370900">泰安</li>
                <li data-citycode = "320583">昆山</li>
                <li data-citycode = "370600">烟台</li>
                <li data-citycode = "620100">兰州</li>
            </ul>
        </div>
        <div>
            <dl class="clearfix">
                <dt>公司规模：</dt>
                <dd class="current">
                    不限</dd>
                <dd>
                    5-10人</dd>
                <dd>
                    10-50人</dd>
                <dd>
                    50-100人</dd>
                <dd>
                    100-200人</dd>
                <dd>
                    200人以上</dd>
            </dl>
        </div>
        <div class="has-more">
            <dl class="clearfix">
                <dt>行业领域：</dt>
                <dd class="current">
                    不限</dd>
                <dd>
                    移动互联网</dd>
                <dd>
                    电子商务</dd>
                <dd>
                    金融</dd>
                <dd>
                    企业服务</dd>
                <dd>
                    教育</dd>
                <dd>
                    O2O</dd>
                <dd>
                    硬件</dd>
                <dd>
                    社交网络</dd>
                <dd class="more">
                    更多 <i></i>
                </dd>
            </dl>
            <ul class="clearfix">
                <dd>
                    旅游</dd>
                <dd>
                    医疗健康</dd>
                <dd>
                    生活服务</dd>
                <dd>
                    信息安全</dd>
                <dd>
                    数据服务</dd>
                <dd>
                    广告营销</dd>
                <dd>
                    招聘</dd>
                <dd>
                    其他</dd>
            </ul>
        </div>
    </div>
    <!--大筛选框 结束-->
    <!--筛选结果 按公司-->
    <ul class="filter-result">
    </ul>
    <!--翻页条 开始-->
    <div class="pagination">
    </div>
    <!--翻页条 结束-->
</div>
<!--主内容区 结束-->
@section scripts{
    <script type="text/javascript">
        var su = '@ViewBag.su';
        $('#su').val(su); $(".header-search span").text('公司'); 
    </script>
    <script src="@BaseConfigs.GetStaticPath/scripts/template.js"></script>
    <script src="@BaseConfigs.GetStaticPath/scripts/jquery.paging.min.js"></script>
    <script src="@BaseConfigs.GetStaticPath/scripts/jquery.loaddata.js"></script>
    <script src="@BaseConfigs.GetStaticPath/scripts/zpLoaddata.js"></script>
    <script type="text/html" id="comTemplate">
    {{each data as company i}}
    <li>
      <div class="clearfix">
        {{if company.logo}}
        <div class="f-r-l"><a href="#"><img src="{{domain}}{{company.logo}}" alt="公司图标"></a></div>
        {{/if}}
        {{if !company.logo}}
        <div class="f-r-l"><a href="#"><img src="@BaseConfigs.GetStaticPath/images/default2.png" alt="公司图标"></a></div>
        {{/if}}
        <div class="f-r-r">
          <h3><a href="@{@BaseConfigs.GetUrlMain}Company/Zhaopin/{{company.id}}">{{company.compay}}</a><small>{{company.trade}} / {{company.Nature}} / 规模：{{company.scale}}人</small></h3>
          <p><a href="#">{{company.numEvaluation}}</a>条面试评价</p>
          <p>{{if company.jobs.length != 0}}<a href="@{@BaseConfigs.GetUrlMain}Company/Zhaopin/{{company.id}}">{{company.jobs.length}}</a>个在招职位{{/if}}
             {{if company.jobs.length == 0}}{{company.jobs.length}}&nbsp;&nbsp;个在招职位{{/if}}
            <span class="job-pos">
              {{each company.jobs as job i}}  
@*            {{if i < company.jobs.length}}*@ 
              {{if i <3}}
              |<a href="/Jobs/detail/{{job.id}}">{{job.name}}</a>| 
              {{/if}}
              {{/each}}
            </span>
          </p>
          <ul class="advantage">
            {{each company.fuli as fuli i}}
            <li>{{fuli}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </li>
    {{/each}}
    </script>
}
