@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@section head{
    <link rel="stylesheet" href="@{@BaseConfigs.GetUrlCdn}sbcs/styles/sbcs.css">
    @RenderSection("head", required: false)
}
@section scripts{
    @RenderSection("scripts", required: false)
}
<!--通用头部 开始-->
<div class="sbcs">
    <div class="sbcs_head">
        <div class="sbcs_head_search clearfix">
            <div class="sbcs_logo">
                <img src="@(BaseConfigs.GetUrlCdn)sbcs/images/logo.png" alt="">
            </div>
            <div class="sbcs_search">
                <div class="clearfix">
                    <input class="sbcs_search_input" type="text">
                    <i class="sbcs_search_icon"></i>
                    <button class="sbcs_search_button">
                        商标搜索</button>
                </div>
                <dl class="sbcs_search_hot clearfix">
                    <dt>热门搜索 :</dt>
                    <dd>
                        服装</dd>
                    <dd>
                        童装</dd>
                    <dd>
                        内衣</dd>
                    <dd>
                        化妆品</dd>
                    <dd>
                        手机</dd>
                    <dd>
                        珠宝首饰</dd>
                    <dd>
                        家具</dd>
                    <dd>
                        纺织品</dd>
                </dl>
            </div>
        </div>
        @Helper1.display_head()
    </div>
</div>
<!--通用头部 结束-->
@RenderBody()
