@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "梦高速 - 商标超市";
}
@section head{
    <link rel="stylesheet" href="@{@BaseConfigs.GetUrlCdn}sbcs/styles/sbcs.css">
}
<!--头部 开始-->
<div class="sbcs">
    <div class="sbcs_head">
        <div class="index_logo">
            <img src="@{@BaseConfigs.GetUrlCdn}sbcs/images/logo.png" alt="">
        </div>
        @Helper1.display_head()
    </div>
</div>
<!--头部 结束-->
<div class="sbcs_content sbcs_index">
    <div class="sbcs_index_head clearfix">
        <div class="sbcs_index_head_left">
            <h1 class="sbcs_index_head_ttl">
                <i></i><span>快速发布</span><i></i></h1>
            <input class="sbcs_index_rgno" type="text" placeholder="商标名"><i class="rgno_icon"></i>
            <input class="sbcs_index_tel" type="text" placeholder="手机号"><i class="tel_icon"></i>
            <a href="@(BaseConfigs.GetUrlMain)apprshop#/fbsb">
                <button class="sbcs_index_btn">
                    提交发布</button></a>
        </div>
        <div class="sbcs_index_head_middle">
            <div class="index_search">
                <div>
                    <input class="index_search_input" type="text">
                    <button class="index_search_button">
                        商标搜索</button>
                    <button class="index_search_button">
                        发布求购</button>
                    <i class="index_search_icon"></i>
                    <div class="index_search_span">
                        <span class="index_search_span_s">第03类</span>
                        <dl class="index_search_type clearfix">
                            <dt>全部分类</dt>
                            <dd>
                                第<span>01</span>类</dd>
                            <dd>
                                第<span>02</span>类</dd>
                            <dd>
                                第<span>03</span>类</dd>
                            <dd>
                                第<span>04</span>类</dd>
                            <dd>
                                第<span>05</span>类</dd>
                            <dd>
                                第<span>06</span>类</dd>
                            <dd>
                                第<span>07</span>类</dd>
                            <dd>
                                第<span>08</span>类</dd>
                            <dd>
                                第<span>09</span>类</dd>
                            <dd>
                                第<span>10</span>类</dd>
                            <dd>
                                第<span>11</span>类</dd>
                            <dd>
                                第<span>12</span>类</dd>
                            <dd>
                                第<span>13</span>类</dd>
                            <dd>
                                第<span>14</span>类</dd>
                            <dd>
                                第<span>15</span>类</dd>
                            <dd>
                                第<span>16</span>类</dd>
                            <dd>
                                第<span>17</span>类</dd>
                            <dd>
                                第<span>18</span>类</dd>
                            <dd>
                                第<span>19</span>类</dd>
                            <dd>
                                第<span>20</span>类</dd>
                            <dd>
                                第<span>21</span>类</dd>
                            <dd>
                                第<span>22</span>类</dd>
                            <dd>
                                第<span>23</span>类</dd>
                            <dd>
                                第<span>24</span>类</dd>
                            <dd>
                                第<span>25</span>类</dd>
                            <dd>
                                第<span>26</span>类</dd>
                            <dd>
                                第<span>27</span>类</dd>
                            <dd>
                                第<span>28</span>类</dd>
                            <dd>
                                第<span>29</span>类</dd>
                            <dd>
                                第<span>30</span>类</dd>
                            <dd>
                                第<span>31</span>类</dd>
                            <dd>
                                第<span>32</span>类</dd>
                            <dd>
                                第<span>33</span>类</dd>
                            <dd>
                                第<span>34</span>类</dd>
                            <dd>
                                第<span>35</span>类</dd>
                            <dd>
                                第<span>36</span>类</dd>
                            <dd>
                                第<span>37</span>类</dd>
                            <dd>
                                第<span>38</span>类</dd>
                            <dd>
                                第<span>39</span>类</dd>
                            <dd>
                                第<span>40</span>类</dd>
                            <dd>
                                第<span>41</span>类</dd>
                            <dd>
                                第<span>42</span>类</dd>
                            <dd>
                                第<span>43</span>类</dd>
                            <dd>
                                第<span>44</span>类</dd>
                            <dd>
                                第<span>45</span>类</dd>
                        </dl>
                    </div>
                </div>
                <dl class="index_search_hot clearfix">
                    <dt>热门搜索 :</dt>
                    <dd>
                        <a href="/trademark?keyword=服装">服装</a></dd>
                    <dd>
                        <a href="/trademark?keyword=童装">童装</a></dd>
                    <dd>
                        <a href="/trademark?keyword=内衣">内衣</a></dd>
                    <dd>
                        <a href="/trademark?keyword=化妆品">化妆品</a></dd>
                    <dd>
                        <a href="/trademark?keyword=手机">手机</a></dd>
                    <dd>
                        <a href="/trademark?keyword=珠宝首饰">珠宝首饰</a></dd>
                    <dd>
                        <a href="/trademark?keyword=家具">家具</a></dd>
                    <dd>
                        <a href="/trademark?keyword=纺织品">纺织品</a></dd>
                </dl>
            </div>
            @Helper1.display_query_para()
        </div>
        <span class="funnyMonkey"></span>
    </div>
    <div class="index_content clearfix">
        <div class="index_type">
            <h1 class="index_type_ttl">
                商标分类</h1>
            <div class="index_type_wrap">
                <ul class="index_type_show clearfix">
                    @{var ParentKind = ViewBag.ParentKind as System.Data.DataTable;}
                    @for (int i = 0; i < ParentKind.Rows.Count; i++)
                    {
                        var row = ParentKind.Rows[i];
                        <li class="index_type_show_item @if (i == 0)
                                                        {<text>index_type_show_item-current</text>}" data-pcode="@row["code"]">
                            <img src="@(BaseConfigs.GetUrlCdn)sbcs/images/category/@(row["code"]).png" alt="">
                            <p>
                                @row["code"]类 @row["name"]</p>
                        </li>
                    }
                    <li class="index_type_show_item" data-pcode="01">
                        <img src="@(BaseConfigs.GetUrlCdn)sbcs/images/category/01.png" alt="">
                        <p>
                            01类 化学原料肥料</p>
                        <span></span></li>
                    <li class="index_type_show_item" data-pcode="02">
                        <img src="@(BaseConfigs.GetUrlCdn)sbcs/images/category/02.png" alt="">
                        <p>
                            02类 颜料油漆油墨</p>
                        <span></span></li>
                </ul>
            </div>
            <a class="moreType" href="/category">更多分类</a> <span class="current_icon"></span>
        </div>
        <div class="index_trademark">
            <h1 class="index_trademark_ttl">
                01类 化学原料肥料</h1>
            <div class="index_slider_wrap">
                <ul class="index_slider clearfix">
                    <li class="index_slider_item">
                        <ul class="index_trademark_show firPic clearfix">
                        </ul>
                    </li>
                    <li class="index_slider_item">
                        <ul class="index_trademark_show secPic clearfix">
                        </ul>
                    </li>
                    <li class="index_slider_item">
                        <ul class="index_trademark_show thiPic clearfix">
                        </ul>
                    </li>
                    <li class="index_slider_item">
                        <ul class="index_trademark_show fouPic clearfix">
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="slide_little">
                <i class="slide_little-current first_icon"></i><i class="second_icon"></i><i class="third_icon">
                </i><i class="fourth_icon"></i>
            </div>
            <div class="index_trademark_text">
            </div>
        </div>
        <div class="index_advertise">
            @{var ad = ViewBag.Ad as System.Data.DataTable;}
            @for (int i = 0; i < ad.Rows.Count; i++)
            {
                var row = ad.Rows[i];
                <a href="@row["url"]" target="_blank">
                    <img src="@row["img"]" alt="@row["alt"]" /></a>
                
             
            }
        </div>
    </div>
    <ul class="sbcs_advantage clearfix">
        <li class="sbcs_advantage_item">
            <img src="@{@BaseConfigs.GetUrlCdn}sbcs/images/01.png" alt="">
            <h2>
                无忧选购</h2>
            <p>
                大平台有保障,放心更省心</p>
        </li>
        <li class="sbcs_advantage_item">
            <img src="@{@BaseConfigs.GetUrlCdn}sbcs/images/02.png" alt="">
            <h2>
                商标优质</h2>
            <p>
                海量精品商标,顾问把关</p>
        </li>
        <li class="sbcs_advantage_item">
            <img src="@{@BaseConfigs.GetUrlCdn}sbcs/images/03.png" alt="">
            <h2>
                快捷交易</h2>
            <p>
                一站式服务,快捷省心</p>
        </li>
        <li class="sbcs_advantage_item">
            <img src="@{@BaseConfigs.GetUrlCdn}sbcs/images/04.png" alt="">
            <h2>
                专业顾问</h2>
            <p>
                一对一优质服务,安心</p>
        </li>
    </ul>
    <p class="friendlyLink">
        友情链接 : <a href="">中华商标协会</a><a href="">中华商标协会</a><a href="">中华商标协会</a><a href="">中华商标协会</a></p>
</div>
@section scripts{
    <script src="@(BaseConfigs.GetUrlCdn)scripts/template.js"></script>
    <script src="@(BaseConfigs.GetUrlCdn)scripts/shangbiao.js"></script>
    <script type="text/html" id="firTem">
    {{each firPic as fir}}
    <li class="index_trademark_show_item">
      <img src="{{imgurl}}{{fir.img}}" alt="">
      <a href="/trademark/{{fir.id}}">
        <div class="index_trademark_mask">
          <span class="index_trademark_mask_pri"><span>¥</span>{{fir.price}}</span>
          <span class="index_trademark_mask_ttl">{{fir.name}}</span>
        </div>
      </a>
    </li>
    {{/each}}
    </script>
    <script type="text/html" id="secTem">
    {{each secPic as sec}}
    <li class="index_trademark_show_item">
      <img src="{{imgurl}}{{sec.img}}" alt="">
      <a href="/trademark/{{sec.id}}">
        <div class="index_trademark_mask">
          <span class="index_trademark_mask_pri"><span>¥</span>{{sec.price}}</span>
          <span class="index_trademark_mask_ttl">{{sec.name}}</span>
        </div>
      </a>
    </li>
    {{/each}}
    </script>
    <script type="text/html" id="thiTem">
    {{each thiPic as thi}}
    <li class="index_trademark_show_item">
      <img src="{{imgurl}}{{thi.img}}" alt="">
      <a href="/trademark/{{thi.id}}">
        <div class="index_trademark_mask">
          <span class="index_trademark_mask_pri"><span>¥</span>{{thi.price}}</span>
          <span class="index_trademark_mask_ttl">{{thi.name}}</span>
        </div>
      </a>
    </li>
    {{/each}}
    </script>
    <script type="text/html" id="fouTem">
    {{each fouPic as fou}}
    <li class="index_trademark_show_item">
      <img src="{{imgurl}}{{fou.img}}" alt="">
      <a href="/trademark/{{fou.id}}">
        <div class="index_trademark_mask">
          <span class="index_trademark_mask_pri"><span>¥</span>{{fou.price}}</span>
          <span class="index_trademark_mask_ttl">{{fou.name}}</span>
        </div>
      </a>
    </li>
    {{/each}}
    </script>
    <script type="text/html" id="typeName">
    {{each types as type}}
    <span>{{type.name}}</span> {{/each}}
    </script>
}
