@using Newtonsoft.Json.Linq;
@{var item = ViewBag.detail as DHW.Web.Srdz.Controllers.Srdz_Detail;}
@{
    var title = item.title;
    ViewBag.Title = title + " - " + ViewBag.name + " - 梦高速";
}
@section head{
    <style>
        .content .cjjl
        {
            height: 570px;
        }
        .content .cjjl span
        {
            line-height: 50px;
            font-size: 18px;
            font-weight: 600;
        }
        .content .cjjl p
        {
            font-size: 15px;
            line-height: 25px;
            text-indent: 30px;
        }
    </style>
}
}
<!--主内容区 开始-->
<div class="content">
    @* <p class="title">
        <span>私人订制</span> > <span>其他</span> > 任务详情</p>*@
    <!--顶部详情-->
    <div class="topDetail">
        <div class="topDetail_l">
            <img src="@if (item.logo.ToString() == "")
                      {<text>@{@BaseConfigs.GetStaticPath}/images/srdz_defult_logo.png</text>}
                      else
                      {<text>@{@BaseConfigs.GetImgPath@item.logo}_100x100.jpg</text>}">
            <h1>
                @item.sname</h1>
            <div class="topDetail_l_level clearfix">
                <i class="topDetail_l_level_item"></i><i class="topDetail_l_level_item"></i><i class="topDetail_l_level_item">
                </i><i class="topDetail_l_level_item"></i><i class="topDetail_l_level_item"></i>
            </div>
            <div class="topDetail_l_butWrap">
                <a href="@{@BaseConfigs.GetUrlMain}apphome#/email/write?to=@item.dname" target="_blank">
                    <button class="topDetail_l_but">
                    </button>
                </a>发私信
            </div>
            <p class="topDetail_l_addr">
                所在地：<span>@item.province ·@item.city</span></p>
            <p class="topDetail_l_addr">
                好评率：<span>99%</span></p>
            @if (item.type == "2")
            {
                <p class="topDetail_l_addr">
                    公司主页：<a href="@{@BaseConfigs.GetUrlMain}Company/Index/@item.companyid" target="_blank"><span>点击进入</span></a></p>}
        </div>
        <div class="topDetail_c">
            <div class="topDetail_c_imgWrap">
                <img class="topDetail_c_img" src="@if (item.img == "")
                                                  {<text>@{@BaseConfigs.GetStaticPath}/images/srdz_defult_logo.png</text>}
                                                  else
                                                  {<text>@{@BaseConfigs.GetImgPath@item.img}_310x310.jpg</text>}">
            </div>
            <ul class="topDetail_c_pic">
                @for (int a = 0; a < ViewBag.img.Rows.Count; a++)
                {
                    var url = ViewBag.img.Rows[a]["url"];
                    <li class="topDetail_c_pic_items">
                        <img class="topDetail_c_pic_items_img" src="@Html.Raw(BaseConfigs.GetUrlCdn + url)_90x80.png"></li>
                }
            </ul>
        </div>
        <div class="topDetail_r">
            <h1>
                @item.title</h1>
            <div class="topDetail_r_intro max-height">
                @item.desc
                <!--<button class="less_btn">∧</button>
          <button class="more_btn">∨</button>-->
            </div>
            @* @if (@item.sku != null)
            {
                foreach (JProperty jp in item.sku as JToken)
                {
                    JArray iitem = jp.Value as JArray;
                <div class="topDetail_r_style">
                    <div class="topDetail_r_style_l" data-name="@jp.Name">
                        <label>
                            @jp.Name:</label></div>
                    <ul class="topDetail_r_style_r clearfix">
                        @for (int i = 0; i < iitem.Count; i++)
                        {
                           
                            <li class="topDetail_r_style_span">@iitem[i]<i></i></li>
                        }
                    </ul>
                </div>
                }
            }
 <div class="topDetail_r_qua">
                <label>
                    件数 :</label>
                <span class="topDetail_r_qua_red minus"></span>
                <input class="topDetail_r_qua_input" type="text" value="1">
                <span class="topDetail_r_qua_add plus"></span><span class="topDetail_r_qua_total" data-kc="@item.inventory">
                    件（库存 @item.inventory 件）</span>
            </div>*@
            <div class="topDetail_r_price">
                <label>
                    价格 :</label><span>¥@item.price</span>
            </div>
            <div class="topDetail_r_bt">
                <botton class="topDetail_r_btn">申请约见</botton>
            </div>
            <div class="topDetail_r_b">
                <ul class="topDetail_r_b clearfix">
                    @if (!ViewBag.DUser.HasLogin)
                    {
                        <li><a href="@{@BaseConfigs.GetUrlMain}login?redirectURL=@{@(Server.UrlEncode(Request.Url.ToString()))}" class="hd_cont_l_keep " data-attention="10">
                            关注(<span>@item.attention</span>)</a></li>}
                    else
                    {
                        if (ViewBag.gz != "1")
                        {
                        <li><a href="javascript:void(0)" class="hd_cont_l_keep" data-attention="@item.attention" onclick="atten()">
                            关注(<span>@item.attention</span>)</a></li>}
                        else
                        { 
                        <li><a href="javascript:void(0)" class="hd_cont_l_keep cancel " data-attention="@item.attention">
                            已关注(<span>@item.attention</span>)</a></li>
                        }
                    }
                    <li class="bdsharebuttonbox"><a href="#" class="hd_cont_l_share bds_more" data-cmd="more">
                        分享 </a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--顶部详情 结束-->
    <div>
        <ul class="Mtitle">
            <li class="Mtitle_items Mtitle_items_current">话题描述</li>
            <li class="Mtitle_items">用户评价(<span class="commentTotal">18</span>)</li>
            <li class="Mtitle_items">成交记录(<span class="recordTotal">26</span>)</li>
            <li class="Mtitle_items">交易必读</li>
        </ul>
        <!--商品详情 开始-->
        <div class="spxq show">
            @Html.Raw(item.text)
        </div>
        <!--商品详情 结束-->
        <!--用户评价 开始-->
        <div class="yhpj show">
            <div class="yhpj_wrap">
            </div>
            <div class="pagination pagination-pj">
            </div>
        </div>
        <!--用户评价 结束-->
        <!--成交记录 开始-->
        <div class="cjjl show">
            <div class="cjjl_wrap">
                <table cellspacing="0">
                    <thead>
                        <tr>
                            <td class="cjjl_person">
                                定制人
                            </td>
                            <td class="cjjl_price">
                                定制价格
                            </td>
                            <td class="cjjl_project">
                                定制项目
                            </td>
                            <td class="xjjl_time">
                                交易时间
                            </td>
                        </tr>
                    </thead>
                    <tbody class="cjjl_tbody">
                    </tbody>
                </table>
            </div>
            <div class="pagination pagination-jl">
            </div>
        </div>
        <!--成交记录 结束-->
        <!--交易必读 开始-->
        <div class="cjjl show">
            <span>一、私人定制是什么？</span>
            <p>
                1、当你遇到任何领域的问题或是个性化的服务需求，都可以在这里，径直找到一个可以帮助你的人，答疑解惑，出谋划策，定制服务。
            </p>
            <p>
                2、私人定制实行线上预约，线下服务，即线上简单填写需求，线下面对面约见。告别传统人情关系债，体会教学相长的乐趣。</p>
            <p>
                3、目前私人定制的每位服务商都经过梦高速审核，确保身份真实。
            </p>
            <span>二、私人定制交易流程</span>
            <p>
                用户申请约见→用户付费→预约时间地点→双方见面→服务商确认见过→用户评价→服务商确认见过后72小时后学费将全部转入服务商余额，服务商可随时支取
            </p>
            <span>三、约见的规范是怎样的？</span><p>
                为了保证用户和服务商的约见体验良好，我们对约见双方制定了如下规范：</p>
            <p>
                1、用户在申请约见时清楚写明自己的问题和个人相关背景；</p>
            <p>
                2、服务商在约见前根据用户的问题提前做好准备；</p>
            <p>
                3、面谈时，服务商以用户的问题为核心，从用户自身情况出发，为其答疑解惑、出谋划策、提出问题的解决之道；避免泛泛而谈或者脱离用户实际情况；</p>
            <p>
                4、双方见面不迟到，在面谈过程手机保持静音，不查收信息或接打电话；</p>
            <p>
                5、双方改期需提前24小时通知。</p>
            <span>四、免责声明</span>
            <p>
                私人定制服务商所提供法律、心理等方面信息，只限于知识普及和经验指导的范畴，服务商和用户双方并未形成正式的委托关系，服务商及梦高速所在公司对此不负相关法律责任。</p>
        </div>
        <!--交易必读 结束-->
    </div>
</div>
<!--主内容区 结束-->
@section scripts{
    <script src="@BaseConfigs.GetStaticPath/lib/jquery.cookie.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}/scripts/srdz.detail.js"></script>
    @* <script src="@{@BaseConfigs.GetUrlCdn}/scripts/jquery.paging.min.js"></script>*@
    <script src="@{@BaseConfigs.GetUrlCdn}/scripts/template.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}/scripts/jquery.loaddata.js"></script>
    <script>
        with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
    </script>
    <script>
        var fpid = @item.id;
    </script>
    <script type="text/html" id="yhpjid">
    {{each data as pj}}
    <div class="yhpj_all">
        <div class="yhpj_cont">
          <div class="yhpj_logo">
            {{if pj.logo}}
            <img src="{{domain+pj.logo}}">
            {{/if}}
            {{if !pj.logo}}
            <img src="@Html.Raw(BaseConfigs.GetUrlCdn)/srdz/images/avatar.jpg">
            {{/if}}
            <p>{{pj.user}}</p>
          </div>
          <div class="yhpj_intro">
            <p>评分 : 
              {{each pj.rankArr as star}}
              <i>{{star}}</i>
              {{/each}}
            </p>
            <p>{{pj.comment}}</p>
            <p><span>{{pj.date}}</span><span> 13:26</span></p>
          </div>
        </div>
      </div>    
    {{/each}}
    </script>
    <script type="text/html" id="cjjlid">
    {{each data as cj}}
    <tr>
      <td>{{cj.name}}</td>
      <td>{{cj.price}}</td>
      <td>{{cj.title}}</td>
      <td>{{cj.date}}</td>
    </tr>  
    {{/each}}
    </script>
}
