@{
    ViewBag.Title = "梦高速 - 商标超市";
}
<!--主内容 开始-->
<div class="sbcs_content clearfix">
    @Helper1.display_query_cagetory(ViewBag.Category)
    @Helper1.display_query_para()
    <div class="liaobiao_cont_l">
        <div class="liebiao_rank">
            <span class="rank">排序：</span> <span class="rank_item selected">综合排序</span> <span
                class="rank_item_pop"><i></i>人气</span> <span class="rank_item_price"><i></i>价格</span>
        </div>
        <ul class="items clearfix">
        </ul>
        <div class="pagination">
        </div>
    </div>
    <div class="liebiao_recommend">
        <span class="recommend_title">精品推荐</span>
        @{var ad = ViewBag.Ad as System.Data.DataTable;}
        @for (int i = 0; i < ad.Rows.Count; i++)
        {
            var row = ad.Rows[i];
            <div class="recommend_item">
                <img src="@row["img"]" alt="@row["alt"]">
                <span class="recommend_price">￥ <span>@row["price"]</span> </span>
            </div>
        }
       
    </div>
</div>
<!--主内容 结束-->
@section scripts{
    <script type="text/html" id="sbTemplate">
  {{each data as sb}}
  <li class="item">
    <a href="/trademark/{{sb.id}}"><img src="{{domain}}{{sb.img}}"></a>
    <div class="item_detail">
      <span class="price">
      <span class="sign">￥
      </span>{{sb.price}}</span>
      <span class="first_sort"><span>{{sb.pcodeName}}</span> {{sb.name}}</span>
      {{each sb.type as t}}
      <span class="second_sort">{{t}}</span>
      {{/each}}
    </div>
  </li>
  {{/each}}
    </script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/template.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/jquery.paging.min.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/jquery.loaddata.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/sb_liebiao.js"></script>
}
