@{
    var cy = ViewBag.detailHead as System.Data.DataRow;
    byte st = (byte)cy["statusmc"];
    string time = cy["time"] == "" ? "" : ((DateTime)cy["time"]).ToString("yyyy-MM-dd");
    string logo = cy["logo"] == null ? "" : cy["logo"].ToString();
}
@{
    var title = @cy["title"];
    ViewBag.Title = title + " - 梦高速创意设计";   
    
}
@section headpre{
    <link rel="stylesheet" href="@{@BaseConfigs.GetUrlCdn}styles/webuploader.css">
}
@*陈树阳 2015.11.24*@
<div class="content">
    <div class="cont_l">
        <!--招标任务-->
        <input type="hidden" value="@cy["id"]"/>
        <div class="zbrw clearfix">
            <div class="zbrw_t_l">
                <div class="clearfix">
                    <span class="zbrw_t_l_ttl">招标任务</span> <span class="zbrw_t_l_mny">￥@cy["money"]</span>
                </div>
                <h2>
                    @cy["title"]</h2>
                <ul class="clearfix">
                    <li class="zbrw_t_l_time"><i></i>稿截日期：<span>@ViewBag.endtime</span></li>
                    <li class="zbrw_t_l_sjfp"><span class="zbrw_t_l_sjfp-icon"></span>赏金分配：一人独享赏金 <i></i>
                        <div class="pos_tip">
                            赏金由最终选中者拥有！</div>
                    </li>
                </ul>
            </div>
            <div class="zbrw_t_r clearfix">
                <div class="zbrw_t_r_t clearfix">
                    <div class="zbrw_t_r-div zbrw_t_r-l">
                        <p>
                            浏览人数</p>
                        <p class="zbrw_t_r_black">@cy["browse"]</p>
                    </div>
                    <div class="zbrw_t_r-div zbrw_t_r-r">
                        <p>
                            交稿数量</p>
                        <p class="zbrw_t_r_red">@cy["counts"]</p>
                    </div>
                </div>
                <div class="zbrw_t_r_t clearfix">
                    <div class="zbrw_t_r-div">
                        @if (ViewBag.DUser.HasLogin)
                        {
                            if (cy["isCollect"].ToString() == "1")
                            {
                            <a href="javascript:" data-collection="@cy["collect"]" class="zbrw_t_r_atte cancel">
                                已收藏(<span>@cy["collect"]</span>)</a>
                            }
                            else
                            {
                            <a href="javascript:" class="zbrw_t_r_atte" data-collection="@cy["collect"]" onclick="CysjSc()">
                                收藏(<span>@cy["collect"]</span>)</a>
                            }
                        }
                        else
                        {
                            <a href="@{@BaseConfigs.GetUrlMain}login?redirectURL=@{@(Server.UrlEncode(Request.Url.ToString()))}" data-collection="@cy["collect"]" class="zbrw_t_r_atte">
                                收藏(<span>@cy["collect"]</span>)</a>
                        }
                    </div>
                    <div class="bdsharebuttonbox">
                        <a href="#" class="hd_cont_l_share bds_more" data-cmd="more">分享 </a>
                    </div>
                </div>
            </div>
            <!--进度块-->
            <div class="zbrw_jind">
                <div class="zbrw_jd">
                    <ul class="clearfix">
                        <li class="zbrw_jd_item zbrw_jd_item-first @if (st >= 2 && st <= 7)
                                                                   {<text>success</text>}"><i></i><span>发布需求<br>
                                                                       @time</span></li>
                        <li class="zbrw_jd_item  @if (st >= 3 && st <= 7)
                                                 {<text>success</text>}"><i></i><span>托管赏金</span></li>
                        <li class="zbrw_jd_item  @if (st >= 3 && st <= 7)
                                                 {<text>success</text>}"><i></i><span>威客投标</span></li>
                        <li class="zbrw_jd_item  @if (st >= 4 && st <= 7)
                                                 {<text>success</text>}"><i></i><span>雇主选标</span></li>
                        <li class="zbrw_jd_item" @if (st >= 6 && st <= 7)
                                                 {<text>success</text>}><i></i><span>威客工作</span></li>
                        <li class="zbrw_jd_item zbrw_jd_item-last"  @if (st == 7)
                                                                    { <text>success</text> }><i></i><span>验收付款</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--任务需求-->
        <div class="rwxq clearfix">
            <h4>
                任务需求</h4>
            <p>
                @cy["info"]</p>
            <h4>
                项目附件</h4>
            <ul>
                <li class="rwxq_doc"><a href="@BaseConfigs.GetUrlFj@cy["attachment"]"><i></i>@cy["attachment_orgin"]</a><a href="@BaseConfigs.GetUrlFj@cy["attachment"]">下载</a>
                </li>
                @*<li class="rwxq_dl"><a href="#"><i></i>apple.jpg</a>（15.00k） </li>*@
            </ul>
        </div>
        <!--投标-->
        <div class="toubiao">
            <form id="toubiao" method="post" action="">
            <div class="price">
                <label>
                    任务报价：</label>
                <input class="toubiao_input" type="text" id="price" name="price">
                <!--<span class="wrongTip" ng-show="toubiao.price.$dirty && toubiao.price.$invalid">* 请输入正确报价</span>-->
            </div>
            <div class="cycle">
                <label>
                    工作周期：</label>
                <input class="toubiao_input" type="text" id="cycle" name="cycle">
                <!--<span class="wrongTip" ng-show="toubiao.worktime.$dirty && toubiao.worktime.$invalid">* 请输入正确工作周期</span>-->
            </div>
            <div class="areaselect">
                <label>
                    所在地区：</label>
                <input type="text" id="address" name="address" readonly>
                <!--<span class="wrongTip" ng-show="toubiao.address.$dirty && toubiao.address.$invalid">* 请选择地址</span>-->
                <ul class="provUl">
                </ul>
                <ul class="cityUl">
                </ul>
                <!--<ul class="countyUl">

            </ul>-->
            </div>
            <div class="explain">
                <label>
                    报价说明：</label>
                </br>
                <textarea class="toubiao_textarea" name="intro" id="intro"></textarea>
                <!--<span class="wrongTip" ng-show="toubiao.intro.$dirty && toubiao.intro.$invalid">* 请输入报价说明</span>-->
            </div>
            <div class="toubiao_yzm">
                <label>
                    验证码：</label>
                <input type="text" id="yzm_input">
                <img id="yzm" src="/Detail/VerifyCode?_=1450339330618" alt="验证图片" onclick="aa()">
            </div>
            <p class="fileUp_tooltip">
                <i>* </i>只能上传单个文件，如需要上传多个文件请先压缩为 .zip 或者 .rar的形式在上传</p>
            <div id="fileUp">
                <div class="wu-example formUploadImg clearfix">
                    <div class="btns">
                        <div id="picker">
                            选择文件</div>
                    </div>
                    <div class="uploader-list">
                    </div>
                </div>
            </div>
            <p>
                请遵守<a href="#">投标/投稿规则</a>，否则将隐藏稿件并酌情予以惩罚。</p>
            <input id="toubiao" type="submit" class="tb tb_btn" value="投标">
            </form>
        </div>
        <!--投标结束-->
        <!--参与投稿-->
        <div class="cytg">
            <ul class="cytg_ttl clearfix">
                <li class="current">参与投稿（<span class="tgCount">0</span>）</li>
                <li>任务留言（<span class="commentCount">0</span>）</li>
            </ul>
            <div class="cytg_cont">
                <ul id="cytg_cont">
                </ul>
                <div class="pagination pagination_tg">
                </div>
            </div>
            <!--发布留言-->
            <div class="cytg_cont hidden">
                <div class="fbly clearfix">
                    <div class="fbly_img">
                        <img src="@Html.Raw(BaseConfigs.GetUrlCdn)cysj/images/rwxq_05.jpg" alt=""></div>
                    <div class="fbly_cont">
                        <textarea class="fbly_ta" cols="30" rows="10"></textarea>
                        <button class="fbly_btn">
                            发表留言</button>
                        <p class="errorTip">
                            留言不能为空</p>
                    </div>
                </div>
                <ul class="commentCont">
                </ul>
                <div class="pagination pagination_comment">
                </div>
            </div>
        </div>
    </div>
    <!--右侧-->
    <div class="cont_r">
        <div class="cont_r_t clearfix">
            <div class="cont_r_t_head clearfix">
                <div class="cont_r_t_head_img">
                    <div>
                        @if (logo != "")
                        {
                            <img src="@logo" alt="头像">}
                        else
                        {<img src="@logo" alt="头像">}</div>
                </div>
                <div class="cont_r_t_head_text">
                    <div>
                        <a href="#">@cy["name"]</a></div>
                    <i class="icon_rz"></i><i class="icon_phone"></i><a href="@{@BaseConfigs.GetUrlMain}apphome#/email/write?to=@ViewBag.to" target="_blank">
                        <button>
                            私信</button></a>
                    @if (cy["type"].ToString() == "2")
                    {
                        <a class="icon_homepage" href="@{@BaseConfigs.GetUrlMain}Company/Index/@cy["ddid"]" target="_blank" title="公司主页">
                        </a>
                    }
                </div>
            </div>
            <ul class="cont_r_t_haop">
                <li>
                    <p>
                        100%</p>
                    <p>
                        好评</p>
                </li>
                <li>
                    <p>
                        100%</p>
                    <p>
                        诚信</p>
                </li>
                <li class="cont_r_t_last">
                    <div>
                        <img src="@{@BaseConfigs.GetUrlCdn}cysj/images/zb_14.jpg" alt="等级"></div>
                    <p>
                        等级</p>
                </li>
            </ul>
        </div>
        <div class="cont_r_b">
            <h4>
                参与需求,开始赚钱</h4>
            <ul>
                <li><span class="cont_r_b_time">第一步:提交您的稿件</span> </li>
                <li><span class="cont_r_b_time">第二步:中标后交付作品</span> </li>
                <li><span class="cont_r_b_time">第三步:获得赏金</span> </li>
            </ul>
        </div>
    </div>
</div>
@section scripts{
    <script src="@{@BaseConfigs.GetUrlCdn}lib/angular/angular.min.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/data.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/areaselect.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/jquery.placeholder.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/jquery.paging.min.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/template.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/jquery.loaddata.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/cysj.rwxq.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/cysj.rwxqCtrl.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}lib/jquery.validate.min.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}static/lib/webuploader.nolog.min.js"></script>
    <script type="text/javascript">
        dhw.fileuploadurl = dhw.urlfjupload;
        function aa() {
            $("#yzm").attr('src', '/Detail/VerifyCode?_=' + (+new Date()));
        }
    </script>
    <script>
        with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
    </script>
    <script>
        $('input, textarea').placeholder();

        new locationCard({
            ids: ['pr1', 'ci1', 'co1']
        }).init();

        $(".zbrw_t_l_sjfp i").mouseenter(function () {
            $(".pos_tip").show();
        }).mouseleave(function () {
            $(".pos_tip").hide();
        })
        $(".cytg_ttl li").click(function () {
            var indexs = $(this).index();
            $(".cytg_ttl li").removeClass("current").eq(indexs).addClass("current");
            $(".cytg_cont").addClass("hidden").eq(indexs).removeClass("hidden");
        })
    </script>
    <script type="text/javascript">
        var cpid = @cy["id"];
    </script>
    <script type="text/html" id="commentTpl">
    {{each data as comment}}
    <li class="fbly_items">
      <img src="{{domain+comment.userimage}}_100x100.jpg" alt="{{comment.username}}">
   <p class="fbly_items_time"> @*<a href="{{comment.id}}"></a>*@{{comment.username}} 留言于 {{comment.time}}</p>
      <p>{{comment.commemt}}</p>
    </li>
    {{/each}}
    </script>
    <script type="text/html" id="cytg">
    {{each data as tg}}
    <li class="cytg_group clearfix">
      <div class="cytg_l">
        <div class="cytg_l_img"><img src="{{domain+tg.img}}_100x100.jpg" alt="#"></div>
        <div class="cytg_l_text">
          <div>@*<a href="{{tg.id}}"></a>*@{{tg.username}}&nbsp &nbsp<i class="icon_rz"></i><i class="icon_phone"></i></div>
          <p class="cytg_l_gray">{{tg.usertype}}<span>|</span>{{tg.address}}</p>
        </div>
      </div>
      <div class="cytg_r">
        <a href="@{@BaseConfigs.GetUrlMain}apphome#/email/write?to={{tg.to}}" target="_blank"><button>快速沟通</button></a>
      @*<button>雇佣TA</button>*@
      </div>
    </li>
    {{/each}}
    </script>
}
