@{
    Layout = null;
}
<div class="module module-kjfw">
    <div class="lt">
        <ul class="hot_nav clearfix">
            <li class="hot_nav_items hot_nav_items-current">热门公司</li>
            <!--<li class="hot_nav_items">热门行业</li>-->
            <!--<li class="hot_nav_items">热门评估</li>-->
        </ul>
        <div class="rcmd">
            <ul class="clearfix">
                @for (int i = 0; i < ViewBag.latest.Rows.Count; i++)
                {
                    var item = ViewBag.latest.Rows[i];
                    var str = i % 2 == 0 ? "" : "rcmd-content-second";
                    var business = item["business"] as Newtonsoft.Json.Linq.JToken;
                    <li class="rcmd-content @str">
                        <h3>
                            <a target="_blank" href="@{@BaseConfigs.GetUrlMain}Company/Fwzx/@item["id"]">@item["compay"]</a></h3>
                        <div class="clearfix">
                            <div class="avatar">
                                <a href="#">
                                    <img src="@BaseConfigs.GetImgPath@item["logo"]" alt="@item["compay"]"></a>
                            </div>
                            <div class="badges-tags">
                                <ul class="badges clearfix">
                                    <li class="badges-1"></li>
                                    <li class="badges-2"></li>
                                    <li class="badges-3"></li>
                                    <li class="badges-4"></li>
                                </ul>
                                <ul class="tags clearfix">
                                    @if (business != null)
                                    {
                                        foreach (Newtonsoft.Json.Linq.JToken business1 in business)
                                        {
                                        <li>@(business1.Value<string>("name"))</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="kjfwBanner">
            <a href="@BaseConfigs.GetUrlKj" target="_blank" style="cursor:pointer">
                <img src="@{@BaseConfigs.GetUrlCdn}/usercenter/images/kj_18.png" alt=""></a>
        </div>
    </div>
    <div class="rt">
        <div class="fir_pic">
            <a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}/usercenter/images/kj_03.png"></a></div>
        <div class="sec_pic">
            <a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}/usercenter/images/kj_10.png"></a></div>
        <div>
            <a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}/usercenter/images/kj_16.png"></a></div>
    </div>
</div>
<script>
    $(function () {
        if (window.PIE) {
            $('.module').each(function () {
                PIE.attach(this);
            });
        }
    });
</script>
